<?= $this->element("/Default/slide"); ?>

<main class="Posts">
    <div class="container">
        <h2 class="Posts-title radio-one-title-logo">Lo Nuevo</h2>
        <?= $this->element('Default/posts'); ?>
    </div>
</main>