// Here you can add other styles
.nav {
	&-actions {
		margin: 1rem 0;
	}
}

.error-message {
	color: $error-color;
    background: rgba($error-color, 0.1);
    padding: 10px;
    border: solid 1px $error-color;
    border-top: 0;
    margin-bottom: 10px;
}

.account-dropdown{
	padding-right: 1rem;
}
