.Service{    
    height: 600px;     
    background: url("#{$img-path}/about-us-banner.jpg") no-repeat center;	   

    @include media-breakpoint-down(lg){
        height: 100vh;

        &-wrapper{
            padding: 0px;
        }

        &-title{
            padding-bottom: 25px;
        }
    }

    &-wrapper{
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 75px 0px;
    }

    &-title{
        font-family: "Playfair Display", serif !important;
		font-size: 50px;
		font-weight: 700;
        margin-bottom: 50px;        
    }
}

.ServiceDetail{
    background: url("#{$img-path}/services-background.png") no-repeat bottom center;
	padding-top: 70px;
    padding-bottom: 70px;

    &-content{
        @extend .Services-box;
        margin-bottom: 0px;
    }
}