.Tabs {
	&-block{
		background: $brand-color-1;		
		padding: 0 !important;
	}

	&Content {
		&-wrapper {
			padding-top: $margin-standard;
			padding-left: $margin-standard;
			padding-right: $margin-standard;
		}
	}

	&-tabHead{		
		border: none;
		text-align: center;
		width: 50%;

		a{
			background-color: $brand-color-2 !important;
			border: none !important;
			border-radius: 0px !important;
			color: $white !important;	
			font-size: 1.125rem;		
		}		

		a.active{
			background-color: $brand-color-1 !important;
		}
	}
}

.Tab {
	&Content {
		&-extract {
			color: $white;
			font-size:13px;
		}
		&-image {
			&-container {
				height: 65px;
				overflow: hidden;
				width: 100%;
				img {
					height: 100%;
				}
			}
		}
	}
}