.Tags {
	&-list {
		padding: 0;
		text-align: left;
	}
	.Tag {
		&-item {
			display: inline-block;
			margin-right: 5px;

			a:hover{
				text-decoration: none;
			}
		}
		&-link {
			background-color: $gray;
			color: $font-color;
			display: block;
			font-size: 12px;
			margin-bottom: 5px;
			padding: 5px;
		}
	}
}