<div class="Footer-wrapper">
	<div class="Footer-info">
		<a href="http://www.radioone929.com" class="Footer-link">www.radioone929.com</a>
		<span class="Footer-copy">
			TODOS LOS DERECHOS RESERVADOS POR RADIO ONE 92.9FM, SITIO DISEÑADO POR WWW.CREATIVOCORP.COM
		</span>
	</div>
</div>
